.footer__bottom {
  background: #444444;
  padding: $space-sm 0;

  .footer__bottom--list {
    display: flex;
    gap: $space-lg;
    padding-left: $space-3xl;
    justify-content: center;
    @media screen and (max-width: 768px) {
      padding-left: 0;
      gap: $space-xs;
    }

    .footer__bottom--listItems {
      color: #a2a2a2;
      font-size: $size-xs;
    }
    .footer__bottom--list li a:hover {
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}
